@if(_model is not null)
{
    <MudGrid>
        <MudItem xs="9">
            <h1>
                @Localizer["DishDetailsHeader"]
            </h1>
        </MudItem>
        <MudItem xs="3">
            <MudCheckBox T="bool" Label="@(Localizer["EnableEditingDishCheckboxCaption"])"
                         @bind-Value="@_isInEditMode" />
        </MudItem>
        <MudItem xs="12">
            <MudForm Model="@_model" FieldChanged="FormulateFieldChanged">
                <MudGrid>

                    <MudItem xs="12">
                        <MudTextField T="string" For="@(() => _model.Name)"
                                      Label="@(Localizer["UpdateDishNameLabel"])"
                                      @bind-Value="_model.Name"
                                      ReadOnly="@(!_isInEditMode)" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudNumericField T="decimal" For="@(() => _model.BasePrice)"
                                         Label="@(Localizer["UpdateDishBasePriceLabel"])"
                                         @bind-Value="_model.BasePrice" Format="0.00"
                                         ReadOnly="@(!_isInEditMode)" />
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField T="string" For="@(() => _model.Description)"
                                      Label="@(Localizer["UpdateDishDescriptionLabel"])"
                                      Lines="10"
                                      MaxLines="10"
                                      @bind-Value="_model.Description"
                                      ReadOnly="@(!_isInEditMode)" />
                    </MudItem>
                    <MudItem xs="3">
                        <MudCheckBox T="bool" For="@(() => _model.IsNewCategory)"
                                     Label="@(Localizer["UpdateDishIsNewCategoryLabel"])"
                                     @bind-Value="_model.IsNewCategory"
                                     ReadOnly="@(!_isInEditMode)" />
                    </MudItem>
                    @if (_model.IsNewCategory)
                    {
                        <MudItem xs="9">
                            <MudTextField T="string" For="@(() => _model.NewCategoryName)"
                                          Label="@(Localizer["UpdateDishNewCategoryNameLabel"])"
                                          @bind-Value="_model.NewCategoryName"
                                          ReadOnly="@(!_isInEditMode)" />
                        </MudItem>
                    }
                    else if (Categories is not null)
                    {
                        <MudItem xs="9">
                            <MudSelect T="DishCategoryDto?" Value="@SelectedCategory"
                                       Label="@(Localizer["UpdateDishExistingCategoryLabel"])"
                                       ValueChanged="SelectedCategoryValueChanged"
                                       ReadOnly="@(!_isInEditMode)">
                                @foreach (var category in Categories)
                                {
                                    <MudSelectItem T="DishCategoryDto" Value="@category">
                                        <MudText>
                                            @category.Name
                                        </MudText>
                                    </MudSelectItem>
                                }
                            </MudSelect>
                        </MudItem>
                    }

                    <MudItem xs="12" Class="d-flex justify-content-end">
                        <MudButton Color="Color.Primary"
                                   Variant="Variant.Filled"
                                   Disabled="@(!_modified || !_isInEditMode)">
                            @Localizer["SaveDishChangesButtonCaption"]
                        </MudButton>
                    </MudItem>
                </MudGrid>
            </MudForm>
        </MudItem>
    </MudGrid>
}